html, body {
	margin: 0;
	height: 100%;
}

.flex-grid {
	display: flex;
	margin: auto -1rem 1rem;
}

.container{
	margin: auto;
	background-color: #f48c5c; 
	flex-shrink: 0;
	flex-direction: column;
}

.sidebar {
	flex: 1;
}

.main {
	flex: 7;
}

.title {
	position: relative;
	padding: 0px 5px;
}

.photo {
	padding: 0px;
}

img {
	max-width: 35%;
	max-height: 35%;
	height: auto;
	float: right;
	width: auto;
	margin-right: 20px;
}

p {
	font-size: 100px;
}

#topP {
	color: #FFFFFF;
	text-align: left;
}

#bottomP {
	margin-top: 200px;
	margin-left: 0px;

}

#topPDiv {
	margin: 0 auto;
}

div > p {
	font-size: 40px;
	color: #FFFFFF;
	width: 1000px;
}

h1{
	font-size: 80px;
	color: #FFFFFF;
	margin: 0 auto;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 110px;
	background-color: #bc3c5c;
	overflow: auto;
}

.sidebar a {
	padding: 10px 8px 10px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #6c2c73;
	display: block;
	text-align: center;
}

.sidebar a:hover {
	color: #fcec6c;
}
